
body {
    font-family: Arial, sans-serif;
    color: black;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00205b;
    padding: 20px 50px;
    width: 100%;
    box-sizing: border-box;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 15px;
}

#title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

nav {
    display: flex;
}

#menu {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list {
    margin-right: 20px;
    color: #BBBBBB;
    font-size: 16px;
}

.list a {
    text-decoration: none;
    color: #BBBBBB;
    font-weight: bold;
}

.list a:hover {
    text-decoration: underline;
    color: #AAAAAA;
}
/* Banner */
.banner {
    width: 100%;
    height: auto;
}

.banner img {
    width: 100%;
    height: auto;
}
/* Home 
Recent News
*/

#recent-container {
  display: flex;
  justify-content: center;
}

.recent-news {
  font-family: Arial, sans-serif;
  margin: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}

.recent-news h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #333;
  text-align: center;
}

.recent-news ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.recent-news ul li {
  margin: 10px 0;
  padding: 10px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  text-align: center;
}

.recent-news ul li:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
}

.recent-news ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.recent-news ul li a:hover {
  text-decoration: underline;
  color: #0056b3;
}

.related-image {
  margin-top: 20px;
  text-align: center;
}

.related-image img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Standings */
.ui-dialog {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: visible; 
}

.ui-dialog-titlebar {
  background-color: #4CAF50;
  color: white;
  border: none;
  position: relative;
}

.ui-dialog-titlebar-close {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.ui-dialog-titlebar-close:hover {
  background-color: #f44336;
  color: white;
}

.ui-dialog-title {
  font-size: 18px;
}

.ui-dialog-content {
  padding: 20px;
  overflow: auto;
}

.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.standings {
  padding: 20px;
}

.standings h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.division {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.standing-division {
  background-color: #f1f1f1;
  padding: 15px;
  border: 1px solid #ddd;
}

.standing-division h4 {
  margin-bottom: 10px;
}

.team-entry {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.team img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

#standingsDialog {
  display: none;
  width: 90%;
  max-width: 1000px;
}

/* Recent Highlights */
.recent-highlights {
  padding: 20px;
}

.recent-highlights h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recent-highlights iframe {
  width: 100%;
  height: 600px;
  border: none;
}

/* FanZone */
.fan-zone {
  padding: 20px;
  background-color: #f8f9fa;
  border-top: 1px solid #ddd;
}

.fan-zone h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

#comments-section {
  background-color: #e9ecef;
  padding: 15px;
  margin-bottom: 10px;
  max-height: 200px;
  overflow-y: auto;
}

textarea {
  width: 99%;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
}

button {
  padding: 10px 20px;
  background-color: #e63946;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #d62828;
}

/*Roster*/

div:empty{
  background-color: white;
  padding: 10px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  text-align: center;
  padding: 10px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center;
  padding: 10px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 10px;
}

.player-name {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.player-name:hover {
  text-decoration: underline;
}

.foward-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
}

.defense-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center;
}
.goalie-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.foward, .goalie{
  margin: 0;
  background-color: #BF2F38;
  padding-bottom: 30px;
  width: 100%;
}
.defense {
  margin: 20px 0;
  background-color: #213770;
  padding-bottom: 30px;
  width: 100%;
}

#struble{
  grid-row: 3; 
  grid-column: 2; 
}

.player-card {
  display: flex;
  position: relative;
  width: 80%; 
  overflow: hidden;
  text-align: center;
  border: 2px solid #ddd;
  align-content: center;
  justify-content: center;
}

.player-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.player-name-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6); 
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}

.goalie .player-card {
  position: relative;
  width: 60%; 
  overflow: hidden;
  text-align: center;
  border: 2px solid #ddd;
}

/*Contact Page*/

#contact {
  background-color: white;
  color: grey;
  padding: 20px;
  height: 600px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 100px;
}

#contact-form {
  width: 300px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-form label, #contact-form input, #contact-form button {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

#contact-form button {
  margin-top: 20px;
}

.contactBtn {
  display: inline-block;
  padding: 10px 35px;
  background-color: #BF2F38;
  color: white;
  border-radius: 30px;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.contactBtn:hover {
  background-color: #a12930;
}

.contact-image {
  width: 300px;
  height: auto;
  padding-left: 20px;
}

/*
Footers
*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00205b;
  padding: 50px 0;
  gap: 20px;
}

.footer-col {
  color: white;
}

#h3{
  font-weight: bold;
  font-size: 24px;
}

.socials {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  margin-top: 20px;
}

#yt {
  height: 60px;
  width: 60px;
}